<div class="container">
    <h4>My Following</h4>
    <ul class="list-group">
        <li ng-repeat="following in $ctrl.followings" class="list-group-item">
            <!--Add link go to action sendunfollwing whenn submint-->
            <b>{{following.Name}}</b> <a href=" " ng-click=" $ctrl.sendUnFollow(following.Name)">[unfollow]</a>
        </li>
    </ul>
    <!--Add link go to action sendfollwing whenn submint-->
    Add new follow <input type="text" /> <input type="submit" ng-click="$ctrl.sendFollow($ctrl.followingname)" />
</div>